.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
/* new styles */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

.main-div {
  min-height: 100vh;
  background: rgb(122, 118, 118);
  display: flex;
  justify-content: center; */
  /* align-items: center; */
/* }

.child-div {
  text-align: center;
  margin-top: 12rem;
} */

/* .child-div figure img {
  width: 10rem;
  height: 8rem;
} */

/* .child-div figure figcaption {
  color: #fff;
  font-size: 2.2rem;
  padding-top: 2rem;
  text-transform: capitalize;
}

input { */
  /* display: block; */
  /* min-width: 40rem;
  height: 3.4rem;
  padding: 1rem 1.2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  margin-top: 2rem;
  color: rgb(31, 30, 30);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
button {
  margin-left: 15px;
  padding: 0.75rem 1rem;
  background-color: teal; */
  /* border-radius: 2px; */
/* }
.add-btn .showItems {
  color: yellow;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  background-color: rgb(149, 255, 0);
}

h1 { */
  /* Pink is also my fav color */
  /* text-align: center;
  color: rgb(242, 48, 48);
  font-size: 30px;
}
h2{
  font-size: 20px;
} */